<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylehome.css">
    <title>SnowDepth</title>
</head>
<body>

    <div class="top">

        <img class="logo" src="" alt="logo">

        <form action="" method="post" class="search_form">

            <input type="text" name="search" class="search_bar" placeholder="Rechercher">

            <input type="submit" name="search_button" class="search_button" value="GO"/>

        </form>

        <a href=""><button class="login_button">Connexion</button></a>

    </div>

    <div class="content">

        <div class="global_weather_div">
            <p class="global_weather_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel odio nisi iusto, fugiat ex aliquid error cupiditate magnam ea in, quidem accusamus expedita consequatur dolorem quaerat, at eveniet laborum laudantium? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate odio unde vero suscipit aspernatur hic delectus aut totam explicabo cumque, deleniti iste ratione aperiam molestias, quae labore adipisci quia obcaecati! Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores in illum, architecto illo fuga laborum assumenda laboriosam eum. Excepturi minima nemo est non? Officia recusandae harum iusto, voluptatibus assumenda soluta.</p>
        </div>

        <div class="stations_content">
            
            {{#each stations}}
            <div class="station">
                <h2 class="station_name">{{ this.name }}</h2>

                <div class="station_datas">
                    
                    <div class="top_snow">

                        <h3 class="altitude">En haut :</h3>

                        <p class="value">{{ this.topsnow }}</p>

                    </div>
                    
                    <div class="bottom_snow">

                        <h3 class="altitude">En bas :</h3>

                        <p class="value">{{ this.botsnow }}</p>

                    </div>

                </div>
            </div>
            {{/each}}

        </div>
    
    </div>

</body>
</html>