<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnowDepth</title>
    <link rel="stylesheet" href="styledetails.css">
</head>
<body>
    <header>
        <img class="logo" src="/medias/logo.png" alt="logo">

        <form action="" method="post" class="search_form" autocomplete="off">

            <div class="search_bar_div">

                <input type="text" name="search" class="search_bar" placeholder="Rechercher" required>
                
                <div class="proposed_list">
                    {{#each stations}}
                    <button class="proposed_station">{{this.name}}</button>
                    {{/each}}
                </div>

            </div>

            <input type="submit" name="search_button" class="search_button" value="GO"/>

        </form>

        <a href=""><button class="login_button">Connexion</button></a>
    </header>

    <main>

        <div class="description">

            <h1 class="title">Nom de la station</h1>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae exercitationem blanditiis corporis ipsa dolores repellendus illo deserunt sed temporibus eos, doloribus et reprehenderit quam omnis iure optio officia voluptate illum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla iste voluptatum praesentium nostrum harum exercitationem voluptatibus deserunt laudantium minima. Possimus debitis, illo vel at ipsum esse architecto quod impedit animi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dolore sint maiores fugiat dolores consequuntur impedit maxime iure voluptatibus amet porro non vero expedita saepe labore, tempore, itaque minima accusantium!Lorem</p>

        </div>

        <div class="station_image_div">
            <img src="" alt="" class="station_image">
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#011022" fill-opacity="1" d="M0,96L60,106.7C120,117,240,139,360,165.3C480,192,600,224,720,208C840,192,960,128,1080,128C1200,128,1320,192,1380,224L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>

        <section class="comments">

            <h2 class="comments_title">AVIS</h2>

            <div class="comment_form_div">

                <form action="" method="post" class="comment_form">
                    <input class="comment_title" type="text" placeholder="Sujet">
                    <textarea class="comment_body" resi type="text" placeholder="Avis"></textarea>
                    <input type="submit" class="submit_comment" value="Poster">
                </form>

            </div>

            <div class="users_comments">

                <div class="comment">

                    <h3 class="title_user_comment">Un avis</h2>
                    <p class="body_user_comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit aspernatur suscipit temporibus, ratione minima, veniam ipsum ut vitae impedit cupiditate minus debitis! Esse ipsum cumque consequuntur, veritatis sed dicta eos.</p>

                </div>

                <div class="comment">

                    <h3 class="title_user_comment">Un avis</h2>
                    <p class="body_user_comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit aspernatur suscipit temporibus, ratione minima, veniam ipsum ut vitae impedit cupiditate minus debitis! Esse ipsum cumque consequuntur, veritatis sed dicta eos.</p>

                </div>

                <div class="comment">

                    <h3 class="title_user_comment">Un avis</h2>
                    <p class="body_user_comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit aspernatur suscipit temporibus, ratione minima, veniam ipsum ut vitae impedit cupiditate minus debitis! Esse ipsum cumque consequuntur, veritatis sed dicta eos.</p>

                </div>

            </div>

        </section>

    </main>

    <div class="sidebar">
        
        <div class="snow_infos_div">
            
            <h3 class="snow_infos_title">Infos neige</h3><br>
            
            <ul class="snow_infos_list">
                <li class="snow_info">Neige au sommet :</li>
                <li class="snow_info">Neige en bas :</li>
                <li class="snow_info">Neige fraîche :</li>
                <li class="snow_info">Dernière chute :</li>
            </ul>

        </div>

        <div class="station_info_div">
            
            <h3 class="station_infos_title">Infos station</h3><br>
            
            <ul class="station_infos_list">
                <li class="station_info">Localisation :</li>
                <li class="station_info">Nom :</li>
                <li class="station_info">Altitude maximale :</li>
                <li class="station_info">Altitude minimale :</li>
            </ul>

        </div>

    </div>

    <footer>

    </footer>

</body>
</html>