@font-face {
    font-family: gotham_font;
    src: url('./fonts/GothamMedium.ttf');
}


html {
    margin: 0;
    padding: 0;

    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    scroll-behavior: smooth;

    width: 100%;
}

body {
    margin: 0;
    padding: 0;

    width: 100%;
}

svg {
    margin: 0;
    width: 100%;
}

header {
    display: flex;

    align-items: center;
    justify-content: center;

    background-color: #011022;
    top: 0;
    height: 70px;
    width: 100%;
    padding: 0;

    z-index: 1000;
}

.logo_link {
    display: none;
}

.search_form {
    display: flex;
}

.search_bar {
    border: solid white 3px;
    font-family: gotham_font;
    width: 50vw;
    height: 30px;
    border: solid white 3px;
    background-color: #011022;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 0;
}

.proposed_list {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 51vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.proposed_station {
    font-family: gotham_font;
    background-color: white;
    color: #011022;
    border: none;
    border-bottom: solid #011022 1px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
}

.proposed_station:hover {
    background-color: #011022;
    color: white;
}

.search_button {
    display: none;
    background-color: #011022;
    font-family: gotham_font;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
}

.search_button:hover {
    background-color: white;
    color: #011022;
}

.login_button {
    display: none;
}

main {
    width: 100%;
}

.description_div {
    width: 100%;
    height: calc(100vh - 70px);
    font-family: gotham_font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide_description_button {
    position: absolute;
    top: 140px;
    background-color: transparent;
    border-radius: 20px;
    border: solid white 2px;
    font-family: gotham_font;
    color: white;
    padding: 10px;
}

.hide_description_button:hover {
    background-color: white;
    color: #011022;
}

.description_content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
    padding: 20px;
    transition: 0.3s;
}

.text {
    text-align: justify;
}


.scroll_down_button {
    background-color: transparent;
    width: 40px;
    height: 40px;
    padding: 0;
    position: absolute;
    top: 90vh;
    border: none;
    transition: 0.2s;
}

.scroll_down_button:hover {
    transform: translate(0, 30%);
}

.scroll_down_button img {
    width: 100%;
    height: 100%;
}

.weather {
    background-color: #feefdd;
    margin-top: -10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.today_weather_div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    width: 80%;
}

.today_weather_div h5 {
    margin: 5px 0;
}

.today_weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: gotham_font;
    color: white;
    max-width: 90vw;
    padding: 20px 0;

    border-radius: 10px;

    transition: 0.2s;
}

.weather_icon {
    width: 60%;
}

.morning {
    background-color: #011022;
}

.afternoon {
    background-color: #011022;
    border-left: solid white 1px;
    border-right: solid white 1px;
}

.night {
    background-color: #011022;
}

.waves_bright_to_dark {
    width: 100%;
}