@font-face {
    font-family: gotham_font;
    src: url('./fonts/GothamMedium.ttf');
}


html {
    scroll-behavior: smooth;

    padding: 0;
    margin: 0;

    background-image: url('./medias/928844.jpg');
    background-size: cover;
    background-attachment: fixed;
}


body {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}




.top {
    display: flex;

    align-items: center;
    justify-content: center;

    background-color: #011022;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    padding: 0;

    z-index: 1000;
}

.logo_link {
    display: none;
}

.search_form {
    display: flex;
}

.search_bar {
    border: solid white 3px;
    font-family: gotham_font;
    width: 50vw;
    height: 30px;
    border: solid white 3px;
    background-color: #011022;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 0;
}

.proposed_list {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 51vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.proposed_station {
    font-family: gotham_font;
    background-color: white;
    color: #011022;
    border: none;
    border-bottom: solid #011022 1px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
}

.proposed_station:hover {
    background-color: #011022;
    color: white;
}

.search_button {
    display: none;
    background-color: #011022;
    font-family: gotham_font;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
}

.search_button:hover {
    background-color: white;
    color: #011022;
}

.login_button {
    display: none;
}

main {
    min-height: 100vh;
}

.stations_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.station_link {
    margin-bottom: 30px;
}

.station {
    display: flex;
    flex-direction: column;
    background-color: #011022;

    width: 60vw;
    height: 60vw;

    font-family: gotham_font;
    color: white;

    border-radius: 20px;
    transition: 0.3s;
}

.station:hover {
    transform: scale(1.1);
    background-color: transparent;
    backdrop-filter: blur(5px) sepia();
}

.station_name {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom: solid white 3px;
    margin: 0;
    height: 20%;
}

.station_data {
    display: flex;
    height: 80%;
}

.top_snow, .bottom_snow {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.top_snow {
    float: left;
    border-right: dashed white 1px;
}

.bottom_snow {
    float: right;
    border-left: dashed white 1px;
}


footer {
    width: 100%;
    height: 30vh;
    background-color: #011022;
}


@media all and (min-width: 481px) { /*TABLETTE*/

    .stations_content {
        flex-direction: row;
        justify-content: space-around;
        align-items: initial;
        flex-wrap: wrap;
    }

    .station {
        width: 30vw;
        height: 40vw;
        font-size: smaller;
    }

}


@media all and (min-width: 769px) { /*LAPTOP*/
    
    .top {
        height: 10vh;
    }

    .logo_link {
        position: absolute;
        left: 0;
        height: 10vh;
        width: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo_img {
        height: 80%;
        width: 80%;
    }

    .search_bar {
        width: 30vw;
    }

    .login_button {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        margin-right: 50px;
        font-family: gotham_font;
        top: 50%;
        transform: translate(0, -50%);
        height: 50%;
        border: solid white 3px;
        border-radius: 10px;
        background-color: #011022;
        color: white;
        transition: 0.2s;
    }

    .login_button:hover {
        color: #011022;
        background-color: white;
    }

    .stations_content {
        margin-top: 20vh;
    }

    .station {
        width: 20vw;
        height: 26vw;
    }
}