@font-face {
    font-family: gotham_font;
    src: url('./fonts/GothamMedium.ttf');
}


html {
    scroll-behavior: smooth;

    padding: 0;
    margin: 0;

    background-size: cover;
    background-attachment: fixed;
}


body {
    margin: 0;
    padding: 0;
}



header {
    display: flex;

    position: fixed;
    top: 0;

    width: 100%;
    height: 10vh;
    min-height: 100px;

    background-color: #011022;
    align-items: center;
    justify-content: space-between;

    z-index: 1000;
    
}


.logo {
    height: 8vh;
    width: 8vh;

    margin-left: 20px;
}


.search_form {
    display: flex;
    flex-direction: row;

    align-items: center;
}


.search_bar_div {
    background-color: #011022;
    width: 20vw;

    display: flex;
    flex-direction: column;
    
}


.search_bar {
    height: 5vh;
    width: 20vw;

    background-color: transparent;

    font-size: large;
    font-family: gotham_font;
    color: white;

    border: solid white 3px;
    border-radius: 10px;

    text-align: center;
}


.search_bar::placeholder {
    text-align: center;
}


.proposed_list {
    border: solid #011022 3px;
    border-top: none;

    display: none;
    flex-direction: column;

    position: absolute;

    margin-top: calc(5vh + 6px);

    width: calc(20vw + 6px);

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    overflow: hidden;
}


.proposed_station {
    background-color: white;
    border: none;
    border-bottom: solid #011022 1px;

    font-family: gotham_font;
    font-size: large;

    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.proposed_station:hover {
    color: white;
    background-color: #011022;
}


.search_button {
    background: none;
    border: none;

    margin-left: 30px;
    color: white;
    font-family: gotham_font;
    font-size: 1em;

    height: 4vh;
    width: 4vh;

    border-radius: 10px;
}


.search_button:hover {
    background-color: white;
    color: #011022;
}


.login_button {
    margin-right: 20px;

    width: 7vw;
    height: 4vh;

    background-color: #011022;
    border: solid white 3px;
    border-radius: 20px;
    color: white;

    font-family: gotham_font;
    font-size: 1.0em;

    transition: 0.2s;
}


.login_button:hover {
    background-color: white;
    color: #011022;
}


main {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    width: 75vw;
    transition: 0.5s;
}


.description_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


.description_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: sepia() blur(5px);
    width: 80%;
    height: fit-content;
    padding: 100px 0;
    color: #e4c200;
    transition: 0.5s;
}


.description_content:hover {
    background-color: white;
}


.title {
    font-family: gotham_font;
    font-size: xxx-large;
}


.text {
    font-family: gotham_font;
    text-align: justify;
    font-size: x-large;
    width: 70%;
}


.weather {
    width: 100%;
    background-color: #feefdd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.weather_title {
    font-family: gotham_font;
    font-size: xxx-large;
    color: #011022;
}


.weather_content {
    display: inline-grid;
    grid-template-columns:  repeat(5, 1fr);
    grid-template-rows:  repeat(1, 1fr);
    width: 90%;
    height: 40vw;
    background-color: white;
    margin-bottom: 10vh;;
    grid-gap: 2px;
}

.day {
    display: flex;
    flex-direction: column;
    background-color: #011022;
    color: white;
}


.day_name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-family: gotham_font;
    border-bottom: solid white 1px;
    margin: 0;
}


.morning_weather, .afternoon_weather, .night_weather {
    width: 100%;
    height: 30%;
    font-family: gotham_font;
    padding-left: 10px;
    border-bottom: solid white 1px;
}


.comments {
    font-family: gotham_font;
    color: white;
    background-color: #011022;
}


.comments_title {
    display: inline-block;
    margin-left: 10vw;
    font-size: xxx-large;
    margin-top: 20vh;
}


.comment_form_div {
    display: flex;
}


.comment_form {
    display: flex;
    flex-direction: column;

    margin-top: 4vh;
    margin-left: 7vw;
}


.comment_title {
    font-family: gotham_font;
    width: 30vw;
    height: 40px;
    padding-left: 30px;

    font-size: large;
}


.comment_body {
    width: 50vw;
    height: 20vh;
    font-family: gotham_font;

    margin-top: 3vh;

    padding: 30px;
    resize: none;

    font-size: large;
}


.submit_comment {
    width: 300px;
    height: 50px;
    font-family: gotham_font;
    margin-top: 3vh;
    margin-bottom: 5vh;

    background-color: #011022;
    border: solid white 3px;
    border-radius: 5px;
    color: white;
    font-size: larger;
}


.submit_comment:hover {
    background-color: white;
    color: #011022;
}


.users_comments {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 10vh;
}


.comment {
    width: 80%;

    border-top: solid white 2px;
}


.title_user_comment {
    display: inline-block;
    margin-left: 150px;
    margin-top: 50px;
}


.body_user_comment {
    margin-left: 100px;
    margin-bottom: 50px;
    width: 80%;
}


.sidebar {
    height: 90vh;
    width: 25vw;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 10vh;
    color:#011022;
    font-family: gotham_font;

    background-color: white;

    display: flex;
    flex-direction: column;

    overflow: visible;


    /* hiding scroll bar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    transition: 0.5s;
}


.display_sidebar_button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #011022;
    color: white;
    border: solid #011022 3px;
    font-size: xx-large;
    transition: 0.5s;
}


.display_sidebar_button:hover {
    background-color: white;
    color: #011022;
}


.sidebar::-webkit-scrollbar {
    display: none;
}




.snow_infos_div {
    width: 100%;
}


.snow_infos_title {
    display: inline-block;
    margin-left: 10%;
    font-size: xx-large;
    text-decoration: underline;
}


.snow_infos_list {
    list-style-type: none;
    font-size: large;
}


.snow_info {
    margin-bottom: 10px;
}


.station_info_div {
    width: 100%;
}


.station_infos_title {
    display: inline-block;
    margin-left: 10%;
    font-size: xx-large;
    text-decoration: underline;
}


.station_infos_list {
    list-style-type: none;
    font-size: large;
}


.station_info {
    margin-bottom: 10px;
}


footer {
    width: 100%;
    height: 10vh;
    margin: 0;
    background-color: white;
    position: absolute;
}